body {
    font-family: sans-serif;
    background-color: gold;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: rgb(34, 85, 85);
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
}

img{
    height: 350px;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    border: 4px solid black;
}

.article-but {
    display: block;
    width: fit-content;
    margin: 20px auto;
    text-decoration: none;
    background: #2fa3b4;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #fff;
    padding: 10px 50px;
    border-radius: 15px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 95px;
    display: flex;
    justify-content: space-between;
    background: wheat;
}

a {
    text-decoration: none;
    font-size: 20px;
    border: 3px solid royalblue;
    background-color: white;
    padding: 10px;
    color: limegreen;
    border-radius: 10px;
}

nav a:hover{
    background-color: aquamarine;
    transition: 0.5s;
}

.facts {
    font-size: 18px;
    text-align: center;
}
